/* p{
    font-size: 50px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: line-through;
    text-decoration: overline;
    text-decoration: underline;
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
} */
/* 
p {
  background: url(../download.jpg);

  font-size: 50px;
  background-size: contain;
  color: transparent;
  -webkit-background-clip: text;
} */

/* .india,#hello{
    background-color: green;
}

*{
    background: blueviolet;
} */

/* div p {
  background-color: red;
}

div > p {
  background-color: red;
}

div + p {
  background-color: red;
}

div ~ p {
  background-color: red;
}

.general {
  background-color: red;
} */



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box{
  display: flex;
  justify-content: space-around;
}

.box1{
  height: 100px;
  width: 100px;
  background-color: red;
}
.box2{
  height: 100px;
  width: 100px;
  background-color: yellow;
}
.box3{
  height: 100px;
  width: 100px;
  background-color: green;
}
.box4{
  height: 100px;
  width: 100px;
  background-color: purple;
}


Ducat@pass12